<h1>商品詳細</h1>
<%= image_tag @item.get_image%>

商品名
<%= @item.name %>

商品説明
<%= @item.introduction %>

ジャンル
<%= @item.genre.name %>

税込価格（税抜価格）
<%= (@item.price*1.10).floor %>
(<%= @item.price %>)

販売ステータス
<%= @item.status_text %>

<%= link_to  "編集する", edit_admin_item_path(@item.id) %>