<div class="text-center mt-5 mb-5">
ようこそ、ながの、ながのケーキへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧は出来ますが、</br>
購入には会員登録が必要になります。</br>
</div>

<div class="ml-5">
<h1>新着商品</h1>
</div>

<div class="text-center mt-5 mb-5">
<% @items.each do |item| %>

<%= link_to item_path(item.id) do %>
<%= image_tag item.get_image%>
<%= item.name %>
<%= (item.price*1.10).floor %>

<% end %>
<% end %>
</div>
<div class="text-right">
<%= link_to "全ての商品を見る", items_path %>
