<div class="container">
    
  <h1>配送先編集</h1>
  
  <%= form_with model: @address do |f| %>

    <div class="row">
        <div class="col">
            <%= f.label :郵便番号 %>
        </div>
        <div class="col-8 text-left">
            <%= f.text_field :postal_code %>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <%= f.label :住所 %>
        </div>
        <div class="col-8 text-left">
            <%= f.text_field :address %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= f.label :宛名 %>
        </div>
        <div class="col-4 text-left">
            <%= f.text_field :name %>
        </div>
        <div class="col-4">
            <%= f.submit"変更内容を保存" %>
        </div>
    </div>
    <% end %>
</div>
