<h1>注文履歴一覧</h1>

注文日
配送先
注文商品
支払い金額
ステータス
注文詳細

<% @order_histories.each do |order_history| %>

　<%= order_history.created_at %>

〒<%= order_history.postal_code %>

　<%= order_history.address %>

　<%= order_history.name %>

  <% order_history.order_history_details.each  do |order_history_detail|%>

  <%= order_history_detail.item.name %>

  <% end %>

　<%= order_history.total_payment %>

　<%= link_to "表示する", order_path(order_history.id) %>

<% end %>


