<div class="container">

  <h1>注文履歴詳細</h1>

    <div class="row">
        <div class="col">
          注文情報
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>注文日</th>
                  <td><%= @order_history.created_at %></td>
                </tr>
                <tr>
                  <th>配送先</th>
                  <td>
                    〒<%= @order_history.postal_code %>
                    <%= @order_history.address %>
                    <%= @order_history.name %>
                  </td>
                </tr>
                <tr>
                  <th>支払方法</th>
                  <td><%= @order_history.payment_method_i18n %></td>
                </tr>
                <tr>
                  <th>ステータス</th>
                  <td></td>
                </tr>
              </tbody>
            </table>

        </div>
        <div class="col">
          請求情報
          <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>商品合計</th>
                  <td>
                    <% @order_history.order_history_details.each  do |order_history_detail|%>
                    <% @total +=  order_history_detail.subtotal %>
                    <% end %>
                    <%= @total %>
                  </td>
                </tr>
                <tr>
                  <th>配送料</th>
                  <td><%= @order_history.postage %></td>
                </tr>
                <tr>
                  <th>ご請求金額</th>
                  <td>
                    <% total_payment = @total + @order_history.postage %>
                    <%= @order_history.total_payment %>
                  </td>
                </tr>
              </tbody>
            </table>

        </div>

    </div>
    <div class="row">
        <div class="col">
          注文内容
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>商品</th>
                <th>単価</th>
                <th>個数</th>
                <th>小計</th>
              </tr>
            </thead>

            <% @order_history.order_history_details.each  do |order_history_detail|%>

            <tbody>
              <tr>
                <td><%= order_history_detail.item.name %></td>
                <td><%= order_history_detail.tax_included_price %></td>
                <td><%= order_history_detail.quantity %></td>
                <td><%= order_history_detail.subtotal %></td>
              </tr>
            </tbody>
            <% end %>
          </table>
        </div>
    </div>
</div>

