<h1>商品一覧</h1>
<%= render '/public/items/items_sideber', genres: @genres %>

<% @items.each do |item| %>

<%= link_to item_path(item.id) do %>
<%= image_tag item.get_image%>
<%= item.name %>
<%= (item.price*1.10).floor %>

<% end %>

<% end %>